Q1. Write a program to accept percentage from the user and display the grade according to the following criteria:

Marks                Grade
>90                  A
>80 and <=90         B
>=60 and <=80        C
below 60             D

Solution:

In [4]:
Marks = int(input("Enter your Marks:"))

if Marks > 90:
    print("Grade A")
    
elif Marks > 80 and Marks <= 90:
    print("Grade B")
    
elif Marks >= 60 and Marks <= 80:
    print("Grade C")
    
elif Marks < 60:
    print("Grade D")

Enter your Marks: 100

Grade A

In [5]:
Marks = int(input("Enter your Marks:"))

if Marks > 90:
    print("Grade A")
    
elif Marks > 80 and Marks <= 90:
    print("Grade B")
    
elif Marks >= 60 and Marks <= 80:
    print("Grade C")
    
elif Marks < 60:
    print("Grade D")

Enter your Marks: 85

Grade B

In [6]:
Marks = int(input("Enter your Marks:"))

if Marks > 90:
    print("Grade A")
    
elif Marks > 80 and Marks <= 90:
    print("Grade B")
    
elif Marks >= 60 and Marks <= 80:
    print("Grade C")
    
elif Marks < 60:
    print("Grade D")

Enter your Marks: 70

Grade C

In [7]:
Marks = int(input("Enter your Marks:"))

if Marks > 90:
    print("Grade A")
    
elif Marks > 80 and Marks <= 90:
    print("Grade B")
    
elif Marks >= 60 and Marks <= 80:
    print("Grade C")
    
elif Marks < 60:
    print("Grade D")

Enter your Marks: 50

Grade D

Q2. Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

Tax            Cost Price(in Rs)
15%            >100000
10%            >50000 and <=100000
5%             <=50000

Solution:

In [10]:
price = int(input("Enter your cost price(in Rs)"))

if price > 100000:
    print("You have to pay 15% Tax")
    
elif price > 50000 and price <= 100000:
    print("You have to pay 10% Tax")
    
elif price <= 50000:
    print("You have to pay 5% Tax")

Enter your cost price(in Rs) 99999

You have to pay 10% Tax

Q3. Accept any city from the user and display the monuments of that city.

City                  Monument
Delhi                 Red Fort
Agra                  Taj Mahal
Jaipur                Jal Mahal

Solution:

In [17]:
city = input("Enter city")

if city == "Delhi":
    print("Monument in Delhi is Red Fort")

elif city == "Agra":
    print("Monument in Agra is Taj Mahal")
    
elif city == "Jaipur":
    print("Monument in Jaipur is Jal Mahal")

Enter city Agra

Monument in Agra is Taj Mahal

Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

Solution:

In [31]:
num = 243
count = 0

while num > 10:
    num /= 3
    count = count + 1

print(num)
print("The given number can be divided by 3,", count, "times before it is less than or equal to 10.")

9.0
The given number can be divided by 3, 3 times before it is less than or equal to 10.

Q5. Why and When to use while loop in Python. Give a detailed description with example.

Solution:
    -  Here are some scenarios where you may want to use a while loop in Python
    
    1. When you need to perform an operation repeatedly until a certain condition is met.
    
    2. When you want to iterate through a sequence of items and perform an operation on each item.
    
    3. When you need to perform a specific task a certain number of times.

Example:

In [5]:
l = [1,2,3,4,5]
i = 0 

while i < len(l):
    print(l[i])
    i = i + 1

1
2
3
4
5

Q6. Use nested while loop to print 3 different pattern.

Solution:

Pattern 1:

In [15]:
num = 1

while num <=  5:
    count = 1
    while count <= num:
        print(num, end="")
        count = count+1
    print()    
    num = num+1

1
22
333
4444
55555

Pattern 2:

In [14]:
num = 1
count = 1
while num <= 4:
    inner_count = 1
    while inner_count <= num:
        print(count, end="")
        count += 1
        inner_count += 1
    print()
    num = num+1

1
23
456
78910

Pattern 3:

In [13]:
num = 1
while num <= 5:
    count = 1
    while count <= num:
        print("*", end="")
        count += 1
    print()
    num = num+1

*
**
***
****
*****

Q7. Reverse a while loop to display numbers from 10 to 1.

Solution:

In [16]:
num = 10
while num >= 1:
    print(num)
    num = num - 1

10
9
8
7
6
5
4
3
2
1

Q8. Reverse a while loop to display numbers from 10 to 1.

Solution:

In [20]:
num = 10
while num >= 1:
    print(num)
    num = num - 1

10
9
8
7
6
5
4
3
2
1